$pointer-color: rgba(#ececec, 0.8);
$direction-border: 2px solid $pointer-color;
$blend-item-height: 75px;
$blend-item-width: 75px;
$layer-item-padding: 8px;

.blend-row {
    position: relative;
}


.blend-list {
    display: block !important;
    box-sizing: border-box;
    overflow: auto;

    > div {
        display: block !important; 
    }

    .blend-item {
        display: inline-block;
        height: $blend-item-height;      
        width: $blend-item-width;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        border: 5px solid #dedede;
        margin:0px;

        &.selected {
            border-color: #000000;                
            
        }

        .blend-item-view-container {
            position: absolute; 
            left: 0px;
            right: 0px;
            bottom: 0px;
            top: 0px;
            @include transparent-background();
            pointer-events: none;
            display: inline-block;
            vertical-align: middle;
            box-sizing: border-box;
            flex: 1 1 auto;  
            // padding: 14px;
        }

        .blend-item-view {
            pointer-events: none;                
            position: absolute; 
            left: 0px;
            right: 50%;
            bottom: 0px;
            top: 0px; 
        }

        .blend-item-blend-view {
            pointer-events: none;                
            position: absolute; 
            left: 0px;
            right: 0px;
            bottom: 0px;
            top: 0px; 
        }

        .blend-item-text {
            pointer-events: none;                
            position: absolute; 
            left: 0px;
            right: 0px;
            bottom: 0px;
            top: 0px; 
            color: white;
            padding: 10px;
            font-size: 13px;
            text-shadow: 0px 3px 4px black;                
        }
    }
}