.blend-control {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;

    > .left {
        position: absolute;
        width: 180px;
        left: 0px;
        top: 0px;
        bottom: 0px;
        box-sizing: border-box;
        border-right: 1px solid #ececec;
    }

    > .right {
        position: absolute;        
        left: 190px;
        top: 0px;
        right: 0px;
        bottom: 0px; 
    }

}