.colorpicker-layer {
    .codemirror-colorpicker {
        background-color: transparent;
        width: 100%;
        border:0px;
        box-shadow: none;
        .colorpicker-body {
            width: 240px;

            .color-list {
                padding-top: 5px;
                padding-left: 5px;
                .current-color-sets {
                    .color-item {
                        width: 20px;
                        height: 20px;
                        margin: 2px !important;
                        box-sizing: border-box;
                    }
                }
            }
    
            .wheel {
                border: 0px;
                background-color: transparent;
            }
        }

    }

}