$pointer-color: rgba(#ececec, 0.8);

.drag-position {
    position: absolute;
    display: none;
    bottom: 10px;
    width: 200px;
    height: 200px;
    right: 10px;

    .drag-pointer {
        position: absolute;
        width: 12px;
        height: 12px;
        cursor:pointer;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 50%;
        background-color: rgba(white, 0.8);
        box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.32);
    }
}                  
