.export-view {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100000;
    display: none;

    .close {
        font-size: 50px;
        position: absolute;

        display: inline-block;
        padding: 30px 0px;
        right: 0px;
        bottom: 100%;
        color: white;
        cursor: pointer;
    }

    .color-view {
        position: absolute;
        width: 800px;
        height: 600px;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: white;

        .codeview {
            position: absolute;
            left: 0px;
            right: 0px;
            height: 200px;
            top: 0px;
            box-sizing: border-box;

            .CodeMirror {
                height: 100%;
            }

            textarea {
                position: relative;
            }
        }


        .preview {
            position: absolute;
            right: 0px;
            left: 0px;
            top: 200px;
            bottom: 0px;
            box-sizing: border-box;
            overflow: auto;
        }        
    }
}