$title-height: 22px;

.export-view {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100000;
    display: none;

    .close {
        font-size: 50px;
        position: absolute;

        display: inline-block;
        padding: 30px 0px;
        right: 0px;
        bottom: 100%;
        color: white;
        cursor: pointer;
    }

    .color-view {
        position: absolute;
        width: 800px;
        height: 600px;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: white;

        .codeview-container {
            position: absolute;
            left: 0px;
            right: 0px;
            height: 300px;
            top: 0px;
            box-sizing: border-box;

            .title {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                height: $title-height;
                background-color: #ececec;
                font-size: 12px;
                box-sizing: border-box;        
                
                .tools {
                    float:right;
                    display:inline-block;
                    height: 100%;
                    .tool-item {
                        display:inline-block;
                        min-width: 80px;
                        height: 100%;
                        text-align: center;
                        box-sizing: border-box;
                        padding:5px;
                        cursor: pointer;
                        &.selected {
                            background-color: white;
                            color: black; 
                        }
                    }
                }
            }
            .codeview {
                position: absolute;
                left: 0px;
                right: 0px;
                bottom: 0px;
                top: $title-height;
                box-sizing: border-box;
    
                .CodeMirror {
                    height: 100%;
                }
    

                .content-item {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    display: none;

                    &.selected {
                        display: block; 
                    }

                }
                textarea {
                    position: relative;
                }
            }
    
        }

        .preview-container {
            position: absolute;
            right: 0px;
            left: 0px;
            top: 300px;
            bottom: 0px;
            box-sizing: border-box;
            overflow: auto;

            .title {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                height: $title-height;
                background-color: #ececec;
                font-size: 12px;
                padding: 5px;
                box-sizing: border-box;                
            }

            .preview {
                position: absolute;
                right: 0px;
                left: 0px;
                top: $title-height;
                bottom: 0px;
                box-sizing: border-box;
                overflow: auto;
            }        
        }         
    }
}