$pointer-color: rgba(#ececec, 0.8);
$direction-border: 2px solid $pointer-color;
$page-item-height: 35px;
$button-size: 24px;
$layer-item-padding: 4px;

.feature-control {
    position: absolute;
    box-sizing: border-box;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    .feature {
        display: none; 
        position: absolute; 
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
        box-sizing: border-box; 

        &.selected {
            display: block;
        }
    }

    .image-feature {
        .color-tab {
            bottom: auto;
            height: 290px;
        }

        .color-steps-tab {
            top: 620px;
        }
    }
}

.sub-feature-control {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    transition: all 0.1s linear;

    &.show {
        // top: 0px;
    }

    .image-feature {

        .property-view {
            border-bottom: 0px;
            border-top: 0px;
            .property-item {
                // display: none; 
                border: 0px;
                > .title  {
                    display: inline-block;
                    vertical-align: middle;
                }
                > .items {
                    display: inline-block;
                    vertical-align: middle;
                    .gradient-sample-list {
                        min-height: auto; 
                    }
                    > div {
                        label {
                            margin-right: 10px;
                        }
                    }
                }
    
            } 
        }

    }
}