$typetool-size: 34px;

.gradient-tools {
    position: absolute;
    box-sizing: border-box;
    display:block;
    padding: 5px 0px;
    bottom: -60px;
    left: 0px;
    width: 100%;

    
    .gradient-type {

        display: inline-block;
        vertical-align: top;

        .gradient-item {
            display: inline-block;
            width: $typetool-size;
            height: $typetool-size;
            box-sizing: border-box;
            border: 3px solid #ececec;
            cursor: pointer;
            position: relative;

            &:first-child {
                margin-right: 1px; 
            }

            &.selected {
                border-color: black;
            }

            &.static {
                background-image: linear-gradient(to right, #333, #333);
            }

            &.linear {
                background-image: linear-gradient(to right, black, gray);
            }

            &.radial {
                background-image: radial-gradient(closest-side, black, #ebf8e1, gray);
            }

            &.repeating-linear {
                background-image: repeating-linear-gradient(45deg, #3f87a6, #ebf8e1 15%, #f69d3c 20%);
            }

            &.repeating-radial {
                background-image: repeating-radial-gradient(circle, #3f87a6, #ebf8e1 15%, #f69d3c 20%);
            }        
            
            &.image {
                overflow: hidden;

                .m1 {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-color: #0e4a2e; 
                    top: 70%;
                    left: -20%;
                    transform: rotate(45deg);
                }

                .m2 {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-color: #0eb32b; 
                    top: 50%;
                    left: 40%;
                    transform: rotate(45deg);
                }           
                
                .m3 {
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    position: absolute;
                    background-color: rgb(255, 136, 0); 
                    top: 3px;
                    left: 3px;
                }                           
                
            }
        }
    }

    .gradient-angular {
        display: inline-block;
        user-select: none;
        float: right;
        vertical-align: middle;

        &.linear {
            .gradient-angular-item.linear { display: block; }
            .gradient-angular-item.radial { display: none; }
            .gradient-angular-item.image { display: none; }
        }

        &.radial {
            .gradient-angular-item.linear { display: none; }
            .gradient-angular-item.radial { display: block; }
            .gradient-angular-item.image { display: none; }
        }                    

        &.image {
            .gradient-angular-item.linear { display: none; }
            .gradient-angular-item.radial { display: none; }
            .gradient-angular-item.image { display: block; }
        }

        .gradient-angular-item {
            &.linear {

                .predefined-angluar-group  {
                    display: inline-block;
                    width: 142px;
                    text-align: center;
                }

            }

            &.radial {

                .inline-block {
                    position: relative;
                    display: inline-block;

                    select {
                        appearance: none;
                        display: inline-block;
                        box-sizing: border-box;
                        padding: 5px 5px;
                        border: 0px;
                        background-color: white;
                        width: 110px;
                        outline: none;
                        height: $typetool-size;
                        font-size: 15px;
                        height: 100%;
                    }
                }

                button {
                    padding: 0px;
                    margin:1px;
                    background-color: transparent;
                    border:0px;
                    appearance: none;
                    outline: none;
                    cursor: pointer;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    display:inline-block;
                    width: 8px;
                    height: 18px;
                    vertical-align: middle;

                    &[data-value='center'] { background-image: radial-gradient(circle, black, #FFFFFF 50%); }
                }
            }
        }

    }
}