.image-control {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;

    > .top {
        position: absolute;        
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 200px; 

    }

    > .bottom {
        position: absolute;        
        left: 0px;
        height: 200px;
        right: 0px;
        bottom: 0px; 

    }    

}

.editor-tab {
    height: 100%;
}