$image-item-height: 70px;
$image-item-width: 70px;

.images {
    box-sizing: border-box;
    position: absolute;
    top: 400px;
    left: 0px;
    right: 0px;
    bottom:0px;
    // border-top: 1px solid $border-color;

    .image-tools {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
        display: flex; 
        flex-direction: column;

        button {
            display: inline-block;
            appearance: none;
            width: $image-item-width;
            height: $image-item-height;
            box-sizing: border-box;
            border: 1px solid #dedede;
            vertical-align: middle;
            font-size: 12px;
            cursor: pointer;
            outline: none;
            position: relative;
            pointer-events: all;
        }
    
 
        > .tools {
            flex: none; 
            width: $image-item-width + 10;            
        }


        .image-list {
            box-sizing: border-box;
            overflow: auto;
            flex: 1 1 auto;
            border-top: 1px solid $border-color;
            
            .tree-item {
                display: inline-block;
                cursor: pointer;
                position: relative;
                overflow: hidden;
                border: 3px solid #dedede;  
                vertical-align: middle;
                margin: 2px;
    
                &.selected {
                    border: 3px solid #333;
                }
    
                &:hover {
                    .item-tools {
                        display: inline-block;
                    }
                }
    
                .item-view-container {
                    position: relative; 
                    // @include transparent-background();
                    pointer-events: none;
                    display: inline-block;
                    vertical-align: middle;
                    box-sizing: border-box;
                    height: $image-item-height;
                    width: $image-item-width;
    
                    .item-view {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        right: 0px;
                        bottom: 0px;
                    }
                }
    
                .item-tools {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    bottom: 0px;
                    left: 0px;
                    display: none;
                    padding: 5px;     
                    pointer-events: none;
    
                    button {
                        height: 20px;
                        width: 20px;
                        position: absolute;
                        display:inline-block;
                        border: 0px solid #dedede;
                        cursor: pointer;
                        pointer-events: all;
                        border-radius: 50%;
                        background-color: rgba(255, 255, 255, 0.5);                    
                        
                        &.copy-item {
                            right: 1px;
                            top: 50%;
                            transform: translateY(-50%) rotate(45deg);
                        }
    
                        &.left-item {
                            left: 1px;
                            bottom: 1px;
                        }
    
                        &.right-item {
                            right: 1px;
                            bottom: 1px;
                        }              
                        
                        &.delete-item {
                            top: 1px;
                            right: 1px;
                        }
                    }
    
                }
    
            }
    
        }

        .menu-buttons {
            height: 70px;
            flex: none;
            padding: 0px;
            box-sizing: border-box;

            .gradient-type {
                padding: 2px;
                display: block;
                box-sizing: border-box;

                > button {
                    height: auto; 
                    margin: 5px 0px;
                }

                .gradient-item {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }    

    .add-tools {
        padding: 5px; 
        height: $image-item-height + 10;


    }        

}

.layout-main.expertor-mode {
    .image-tools {
        .menu-buttons {
            
            .gradient-type {
                .gradient-item {
                    width: 22px;
                    height: 22px;
                    border-width: 1px !important;
                }
            }
        }
    }
}
