$pointer-color: rgba(#ececec, 0.8);
$direction-border: 2px solid $pointer-color;
$layer-item-height: 50px;
$button-size: 24px;
$layer-item-padding: 8px;

.image-list-container {
    position: absolute;
    left: 100px;
    right: 0px;
    top: 35px;
    bottom: 0px; 
    box-sizing: border-box;
    padding: 5px;

    .image-list {
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        overflow: auto; 
        border-top: 1px solid #dedede;
        .image-item {
            display: flex;
            height: $layer-item-height;            
            box-sizing: border-box;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            border-bottom: 1px solid #dedede;
            padding: 5px;

            svg {
                pointer-events: none;
            }

            &.selected {
                background-color: #dedede;                
                .image-item-check {
                    svg {
                        display: inline-block; 
                    }
                }
            }

            .image-item-view-container {
                position: relative; 
                @include transparent-background();
                pointer-events: none;
                display: inline-block;
                vertical-align: middle;
                box-sizing: border-box;
                flex: 1 1 auto;  
                padding: 14px;
                width: 25%;
            }

            .image-item-check {
                position: relative; 
                display: inline-block;
                vertical-align: middle;
                box-sizing: border-box;
                flex: 1 1 auto;  
                width: 25%;
                text-align: center;
                padding: $layer-item-padding;

                svg {
                    display: none;
                }
            }

            .image-item-visible {
                position: relative; 
                display: inline-block;
                vertical-align: middle;
                box-sizing: border-box;
                flex: 1 1 auto;  
                width: 25%;
                text-align: center;       
                padding: $layer-item-padding;

                svg.on { display: none; }
                svg.off { display: inline-block; }                

                &.on {
                    svg.on { display: inline-block; }
                    svg.off { display: none; }
                }
            }

            .image-item-delete {
                position: relative; 
                display: inline-block;
                vertical-align: middle;
                box-sizing: border-box;
                flex: 1 1 auto;  
                padding: $layer-item-padding;                
                width: 25%;
                text-align: center;                
            }

            .image-item-view {
                pointer-events: none;                
                position: absolute; 
                left: 0px;
                right: 0px;
                bottom: 0px;
                top: 0px; 
            }
        }
    }

}