.layer-sample-view {
    position: absolute;
    left: $left-size;
    right: 0px;
    top: $tool-size * 2;  
    bottom: 0px;
    // transition: $show-timeline-animation;     
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1000000;
    display: none;

    .close {
        font-size: 30px;
        position: absolute;
        right: 10px;
        top: 0px;
        display: inline-block;
        font-weight: 500;
    }

    .layer-sample-list {
        position: absolute;
        top: 40px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        text-align: center;
        overflow: auto;

        .cached-list {

            .add-current-layer {
                appearance: none;
                border: 1px solid $border-color;
                vertical-align: top;
                background-color: white;
                font-size: 50px;
                line-height: 0px;
                font-weight: 100;
            }

            .layer-sample-item, .layer-cached-item {
                @include transparent-background();
            }
            .layer-sample-item, .layer-cached-item, .add-current-layer, .empty {
                width: 160px;
                height: 120px;
                display:inline-block;
                box-sizing: border-box;
                margin-right: 5px;
                margin-bottom: 5px;
                position: relative;

                &:not(.empty) {
                    border: 1px solid $border-color, 0.5;
                }


                .item-tools {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    display: none; 
                    background-color: rgba(0, 0, 0, 0.5);
                    text-align: center;
                    box-sizing: border-box;
                    padding: 40px 20px;

                    button {
                        appearance: none;
                        // border: 1px solid $border-color;
                        background-color: rgba(0, 0, 0, 0.5);
                        color: white;
                        font-size: 20px;
                        width: 30px;
                        height: 30px;
                        box-sizing: border-box;
                        border-radius: 50%;
                        padding: 5px;
                        text-align: center;
                        line-height: 0; 
                        cursor: pointer;
                        outline: none;

                        &.add-item {
                            transform: rotate(45deg);
                        }

                        &.delete-item {

                        }

                        &.change-item {
                            position: relative;

                            &:before {
                                content: "";
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                width: 10px;
                                height: 10px;
                                border: 2px solid white;
                                box-sizing: border-box;
                                transform: translateX(-50%) translateY(-50%);
                            }
                        }
                    }
                }

                &:hover {
                    .item-tools {
                        display: inline-block;
                    }
                }
            }

        }
    }
}



.layout-main {
    &.expertor-mode {
        .layer-sample-view {
            top: 60px;
            left: $left-size - 50px; 
            // right: $right-size;
        }
    }
}

