$pointer-color: rgba(#ececec, 0.8);
$direction-border: 2px solid $pointer-color;
$page-item-height: 35px;
$button-size: 24px;
$layer-item-padding: 4px;

.layers {
    // border-bottom: 1px solid $border-color;
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;


    button {
        appearance: none;
        width: auto;
        height: 100%;
        box-sizing: border-box;
        border: 1px solid #dedede;
        vertical-align: middle;
        font-size: 12px;
        cursor: pointer;
        outline: none;
        position: relative;
        pointer-events: all;
    }

    > .title {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        height: 30px;
        padding: 5px;
        box-sizing: border-box;

        h1 {
            font-size: 12px; 
            float:left;
            vertical-align: middle;
            margin: 0px;
        }
        .tools {
            display: inline-block; 
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;

            button {
                border-left: 1px solid $border-color;
                border-top: 0px;
                border-bottom: 0px;
                border-right: 0px;
                padding: 0px 10px;
            }
        }
    }    

    .layer-list {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 30px;
        overflow: auto; 
        border-top: 1px solid #ececec;
        box-sizing: border-box;
        
        button {
            display: inline-block;      
            vertical-align: middle;
            box-sizing: border-box;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            padding: 5px;
            margin-right: 5px;
            text-align: center;
            appearance: none;
            background-color: transparent;
            border:0px;
            line-height: 0;
        }
        
        
        .tree-item {
            display: block;
            height: 50px;            
            box-sizing: border-box;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            // padding: 5px;
            border: 2px solid #ececec;

            &.selected {
                border-color: #333;
                background-color: #ececec;
                .item-tools {
                    visibility: visible;
                }
            }

            .item-view-container {
                position: relative; 
                @include transparent-background();
                background-color: white; 
                box-shadow: 0 0 0 rgba( 0, 0, 0, 0.5);
                pointer-events: none;
                display: inline-block;
                vertical-align: middle;
                box-sizing: border-box;
                height: 100%;
                width: 50px;
                // border: 1px solid #ececec;

                .item-view {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                }
            }

            .item-title {
                display: inline-block;
                font-size: 12px;
                pointer-events: none;
            }

            &:hover {
                .item-tools {
                    display: block;

                    button {

                        &.copy-item {
                            font-weight: bold;
                        }
                    }
                }
            }

            .item-tools {
                display: none;
                button {
                    height: 20px;
                    display: inline-block;

                    &.copy-item {
                        position: absolute;
                        right: 0px;
                        top: 50%;
                        transform: translateY(-50%);                        
                    }
                }
            }

        }

    }

}

.layout-main.small-mode {
    .layer-list {
        .tree-item {
            height: 40px;
            overflow: auto;
        }
    }
}