$pointer-color: rgba(#ececec, 0.8);

$gutter: 8px;
$tool-size: 50px;
$right-size: 250px;
$left-size: 300px;

.layout-main {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px; 

    .layout-top {
        position: absolute;
        left: 0px;
        right: $right-size + 20;
        top: $tool-size;
        height: $tool-size * 2;
        z-index: 1;         
        border-right: 1px solid #ececec;
    }

    .layout-right {
        position: absolute;
        right : 10px;
        width: $right-size;
        top: $tool-size;
        bottom: $tool-size + $gutter;
        overflow: auto;
        z-index: 1;         
        background-color: white;     
    }

    .layout-left {
        position: absolute;
        left: 0px;
        width: $left-size;
        top: $tool-size;
        bottom: $gutter;
        // background-color: rgba(gray, 0.5);
        z-index: 1; 
        background-color: white; 
    }    

    .layout-body {
        position: absolute;
        left: 10px;
        right: $right-size + 20px;
        top: $tool-size * 3 + 10; 
        bottom: $tool-size;
        z-index: 0; 
        overflow: hidden;
    }

    .layout-header {
        position: absolute;
        left: 0px;
        right: $gutter;
        height: $tool-size;
        top: 0px; 
        z-index: 0; 
        overflow: hidden;
        box-sizing: border-box;

        h1 {
            padding: 10px;
            margin: 0px;
            text-align: left;
            font-size: 24px;
            text-shadow: 1px 1px 8px rgba(70, 11, 123, 0.54);        
        }
    }


    .layout-footer {
        position: absolute;
        left: 0px;
        right: 0px;
        height: $tool-size;
        bottom: 0px;
        z-index: 0; 
        overflow: hidden; 
        border-top: 1px solid #ececec;        
    }

    .layout-flow {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        padding: 0px 5px;

        &.padding-0 {
            padding: 0px;
        }

        > *:not(:first-child) {
            flex: 1 1 auto;
            margin-top: 4px;
        }

        > *:first-child {
            flex: none;
            height: 290px;
            margin-top: 0px;
        }

        > .pages, .control-tab, .blend-row, .image-control, .gradient-layers, .layer-menu-tab {
            flex: 1 1 auto;  
            height: auto;
        }

        > .blend-row {
            margin-top: 0px;
        }



    }

}

@import './tab-ui.scss';
@import './colorpicker-ui.scss';
@import './page-manager.scss';
@import './layer-manager.scss';
@import './feature-manager.scss';
@import './layers-menu.scss';
@import './view.scss';        
@import './drag-angle.scss';
@import './drag-position.scss';
@import './image-control.scss';
@import './blends.scss';
@import './property-view.scss';