$background-color: #c7c7c7;
$border-color: #c7c7c7;
$font-color: black;
$pointer-color: rgba(#ececec, 0.8);
$gutter: 8px;
$tool-size: 40px;
$left-size: 250px;
$toggle-left-size: 80px;
$right-size: 250px;
$timeline-header-size: 30px;
$timeline-size: 300px;
$show-timeline-animation: all 0.15s linear; 
$gradient-box-size: 100px;

.layout-main {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px; 

    &.show-timeline {
        .layout-left, .layout-right, .layout-body {
            bottom: $timeline-size;
        }

        .layout-footer {
            height: $timeline-size;
        }


    }

    &.beginner-mode {

    }

    &.expertor-mode {
        .layout-left {
            top: 70px;            
            width: $left-size - 50px;
            border-right: 1px solid $border-color;
        }
        .layout-right {
            top: 70px; 
            right: 0px;
            width: $right-size;
            left: auto;
            border-right: 0px;
        } 
        
        .layout-body {
            top: 70px;
            left: $left-size - 50px + $gradient-box-size; 
            right: $right-size;
        }

        .layout-top {
            height: 40px;
            top: 30px;
        }

        .layout-header {
            height: 30px;

            .header-title {
                font-size: 20px;
            }
        }
    }



    .layout-top {
        position: absolute;
        left: 0px;
        right: 0px;
        top: $tool-size;
        height: $tool-size;
        z-index: 1;         
        border-bottom: 1px solid $border-color;
        box-sizing: border-box;
    }

    .layout-right {
        position: absolute;
        right : 0px;
        // left: $left-size;
        width: $left-size;
        top: $tool-size * 2;
        bottom: 0px;
        overflow: auto;
        box-sizing: border-box;
        border-right: 1px solid $border-color;
        border-left: 1px solid $border-color;
        background-color: white; 
        border-left: 1px solid $border-color;
        // transition: $show-timeline-animation;
        z-index: 100;
    }

    .layout-left {
        position: absolute;
        left: 0px;
        width: $left-size;
        top: $tool-size * 2;
        bottom: 0px;
        box-sizing: border-box;
        border-right: 1px solid $border-color;
        // transition: $show-timeline-animation;
        z-index: 100;
    }    

    .layout-body {
        position: absolute;
        left: $left-size + $gradient-box-size;
        right: $left-size;
        top: $tool-size * 2;  
        bottom: 0px;
        // transition: $show-timeline-animation;        
    }

    .layout-header {
        position: absolute;
        left: 0px;
        right: 0px;
        height: $tool-size;
        top: 0px; 
        z-index: 0; 
        overflow: hidden;
        box-sizing: border-box;
        display: flex; 
        border-bottom: 1px solid $border-color;

        .header-title {
            width: $left-size;
            padding: 0px 4px;
            margin: 0px;
            text-align: center;
            font-size: 32px;
            letter-spacing: 8px; 
            flex: none;
            display: block; 
            box-sizing: border-box;
            font-weight: 900;
            line-height: 1.6;
            background-image: linear-gradient(to top, #C6FFDD 0%,#FBD786 50%,#f7797d 100%);
            background-size: auto;
            background-blend-mode: multiply;
            background-color: rgba(245,0,255,0);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }

        .page-tab-menu {
            flex: 1 1 auto; 
            display: block;
            position: relative;
        }
    }


    .layout-footer {
        position: absolute;
        left: 0px;
        right: 0px;
        height: 0px;
        bottom: 0px;
        z-index: 0; 
        overflow: hidden; 
        border-top: 1px solid $border-color;      
        transition: $show-timeline-animation;  
    }

}

@import './range-ui.scss';
@import './tab-ui.scss';

@import './element/unit-range.scss';

@import './colorpicker-ui.scss';
@import './page-manager.scss';
@import './layer-manager.scss';
@import './images.scss';
@import './feature-manager.scss';
@import './sub-feature-manager.scss';
@import './timeline-manager.scss';
@import './gradient-types.scss';
@import './layers-menu.scss'; 
@import './vertical-colorstep.scss';
@import './gradient-sample-view.scss';
@import './layer-sample-view.scss';
@import './page-sample-view.scss';
@import './view.scss';       

@import './drag-angle.scss';
@import './drag-position.scss';
@import './blends.scss';
@import './property-view.scss';
@import './filters.scss';
@import './export-view.scss';