$pointer-color: rgba(#ececec, 0.8);
$direction-border: 2px solid $pointer-color;
$page-item-height: 30px;
$button-size: 24px;
$layer-item-padding: 4px;

.pages {
    box-sizing: border-box;
    overflow-x: auto;
    white-space: nowrap;
    height: 100%;
    

    .page-list {
        box-sizing: border-box;
        height: 100%;
        
        button {
            display: inline-block;
            height: 100%;            
            vertical-align: middle;
            box-sizing: border-box;
            cursor: pointer;
            position: relative;
            padding: 5px;
            text-align: center;
            border: 0px;            
            pointer-events: all;            
            outline: none;            
        }
    

        .tree-item {
            display: inline-block;
            height: 100%;
            box-sizing: border-box;
            cursor: pointer;
            position: relative;
            min-width: 80px;
            text-align: center;
            padding: 15px 10px;            

            &.selected {
                background-color: #c7c7c7;
                color: white;
            }

            .item-view-container {
                position: relative; 
                // @include transparent-background();
                pointer-events: none;
                display: inline-block;
                vertical-align: middle;
                box-sizing: border-box;
                height: 100%;
                width: 25px;
                border: 1px solid #ececec;

                .item-view {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                }
            }

            .item-title {
                display: inline-block;
                font-size: 12px;
                pointer-events: none;
            }


        }

    }

}