$pointer-color: rgba(#ececec, 0.8);
$direction-border: 2px solid $pointer-color;
$page-item-height: 30px;
$button-size: 24px;
$layer-item-padding: 4px;

.pages {
    box-sizing: border-box;
    overflow-x: auto;
    white-space: nowrap;
    height: 100%;
    display: flex;
    
    .project-tools {
        flex: none;
        display:inline-block;
        padding: 0px 0px;
        box-sizing: border-box;
        text-align: right;

        button {
            appearance: none;
            border: 0px solid $border-color;
            padding: 0px 20px;
            height: 100%;
            display: inline-block;
            vertical-align: middle;
            box-sizing: border-box;
            border-left: 1px solid $border-color;
            outline: none;

            &.view-sample {
                position: relative;
                .arrow {
                    display: inline-block;
                    width: 20px;
                    height: 100%;
                    position: relative;
                    cursor: pointer;

                    &:before {
                        content: "";
                        position: absolute;
                        height: 1px;
                        width: 100%;
                        top: 13px;
                        left:0px;
                        pointer-events: none;                        
                        background-color: black;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        height: 1px;
                        width: 100%;
                        top: 18px;
                        left:0px;
                        pointer-events: none;
                        background-color: black;
                    }                    
                }
            }
        }
    }

    .page-list {
        flex: 1 1 auto;
        box-sizing: border-box;
        height: 100%;
        
        button {
            display: inline-block;
            height: 100%;            
            vertical-align: middle;
            box-sizing: border-box;
            cursor: pointer;
            position: relative;
            padding: 5px;
            text-align: center;
            border: 0px;            
            pointer-events: all;            
            outline: none;            
        }
    

        .tree-item {
            display: inline-block;
            height: 100%;
            box-sizing: border-box;
            cursor: pointer;
            position: relative;
            min-width: 80px;
            text-align: center;
            padding: 10px 10px;     
            vertical-align: top;       

            &.selected {
                background-color: #c7c7c7;
                color: white;
            }

            .item-view-container {
                position: relative; 
                // @include transparent-background();
                pointer-events: none;
                display: inline-block;
                vertical-align: middle;
                box-sizing: border-box;
                height: 100%;
                width: 25px;
                border: 1px solid #ececec;

                .item-view {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                }
            }

            .item-title {
                display: inline-block;
                font-size: 12px;
                pointer-events: none;
            }


        }

    }

}

.layout-main.expertor-mode {
    .pages {
        .page-list {
            .tree-item {
                padding: 4px 10px;
            }
        }
    }

}