.property-view {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    box-sizing: border-box;
    overflow: auto;

    &.inline {
        .property-item {
            display: inline-block;
            vertical-align: middle;
            border:0px;
            padding: 2px 4px;

            > .title {
                background-image: none;
                border-bottom: 0px;

                > span {

                    button {
                        appearance: none;
                        background-color: transparent;
                        border: 1px solid $border-color;
                        vertical-align: middle;
                        display: inline-block;
                        height: auto;
                    }

                }
            }

            > .items {
                display: inline-block;
            }

            > * {
                display: inline-block;
                vertical-align: middle;

                button {
                    appearance: none;
                    background-color: transparent;
                    border: 1px solid $border-color;
                    vertical-align: middle;
                    display: inline-block;
                }


            }
        }
    }

    &.accordian {
        display: flex;
        flex-direction: column;

        .property-item {
            flex: none;            
            position: relative;

            &.show {
                flex: 1 1 auto;    

                > .items {
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    top: 30px;
                    overflow: auto;
                }
            }

            > .title {

                span {
                    display: inline-block;
                    max-width: 200px;
                    overflow: hidden;
                    white-space: nowrap;
                    vertical-align: middle;
                    text-overflow: ellipsis;
                }

            }

            &.filters {
                > .items {
                    padding: 0px !important;

                    .filter-list {
                        display: block !important;

                        .filter-item {
                            display: block !important;

                            .filter-item-input {
                                .input {
                                    input[type=number] {
                                        width: 40px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }    
    }

    .property-item {
        padding: 0px;
        border-bottom: 1px solid #ececec;
        font-size: 12px;
        overflow: hidden; 
        margin-bottom: 2px;
        
        > .title {
            font-size: 12px;
            font-weight: bold;
            padding: 8px 5px !important;
            box-sizing: border-box;
            height: 30px;
            background-image: linear-gradient(to top, #e0e0e0 0%, #ffffff 100%);
            border-bottom: 1px solid $border-color;
            color: #333;
            cursor: pointer;

            > span {
                

                button {
                    appearance: none;
                    border: 1px solid #ececec;
                    box-sizing: border-box;
                    display: inline-block;
                    height: 100%;
                }
            }
        }

        > .items {
            display: none; 
            padding: 4px 5px !important; 
            padding-top: 0px;

            &.no-padding {
                padding: 0px !important;
            }
        }

        &.show {
            .items {
                display: block; 

                &.max-height {
                    max-height: 200px;
                    overflow: auto;
    
                }
            }
        }

        > .items > div {
            display: flex; 

            > label {
                width: 70px;
                display: inline-block;
                vertical-align: middle;
                line-height: 1.6;
                margin-left: 4px;
                text-align: right;
                padding-right: 10px;
                box-sizing: border-box;

                &.left {
                    text-align: left;
                }

                &:first-child {
                    margin-left: 0px;
                }
            }

            > div {
                display: flex; 

                input[type=number], input[type=text] {
                    width: 40px;
                    vertical-align: middle;                    

                    &.full {
                        width: 160px;
                    }
                }

                .input {
                    input[type=number], input[type=text] {
                        width: 30px;
                    }
                }

                .input-field.hex {
                    input[type=number], input[type=text] {
                        width: 100%;
                    }
                }

                > span {
                    display: inline-block;
                    margin-left: 4px; 
                    margin-right: 10px;
                    vertical-align: middle;

                    &.color {
                        display:  block;
                        height: 100%;
                        width: 40px;
                        margin-right: 0px;
                        border: 1px solid $border-color;
                    }

                    &.color-text {
                        display:  inline-block;
                        height: 100%;
                        margin-right: 0px;
                        padding: 10px 0px;                        
                    }                    
                }

                .input-text {
                    span {
                        display: inline-block;
                        width: 36px;
                        text-align: center;
                    }
                }
            }
        }

        @import './property-items/gradient-steps.scss';
        @import './property-items/gradient-sample-list.scss';
        @import './property-items/gradient-steps-info.scss';
        @import './property-items/gradient-tools.scss';
        @import './property-items/image-resource.scss'; 
        @import './property-items/image-list-view.scss'; 
        @import './property-items/layout.scss';
        @import './property-items/clip-path.scss';
    }

    .gradient-view {
        height: 230px;
        width: 100%;
    }
}