$pointer-color: rgba(#ececec, 0.8);
$direction-border: 2px solid $pointer-color;
$page-item-height: 35px;
$button-size: 24px;
$layer-item-padding: 4px;

.sub-feature-control {
    position: absolute;
    bottom: 10px;
    left : 10px;
    right: 10px;

    > .feature {
        height: 100%;
        text-align: center;
        white-space: nowrap;

        > .property-view {
            position: relative;
            height: 150px;
            width: 240px;
            background-color: rgba(0, 0, 0, 0.2);     
            display: inline-block;
            vertical-align: middle;   
            
            &.hide {
                display: none;
            }

            > .property-item {
                border: 0px;

                > .title {
                    text-align: left; 
                    background-image: none;
                    border: 0px;
                    color: rgba(255, 255, 255, 0.7);
                    height: 20px;
                }

                > .items {
                    display: block;

                    > div {
                        margin-bottom: 2px;
                        > label {
                            width: 50px;
                        }
   
                    }


                    .size-list {
                        display: flex; 
                        width: 150px;

                        > button {
                            flex: 1; 
                            outline:none;
                            cursor: pointer;
                            box-sizing: border-box;
                            height: 20px;
                            position: relative;
                            background-color: #ececec;
                            appearance: none;
                            border: 1px solid transparent;
                            margin-right: 1px;

                            &:after {
                                content: attr(title);
                                font-size: 8px;
                                color: black;
                            }

                            &.selected {
                                border: 1px solid black; 
                                background-color: #ffffff;
                            }
                        }
                    }

                    .repeat-list {
                        display: flex; 
                        width: 180px;

                        > button {
                            flex: 1; 
                            outline:none;
                            cursor: pointer;
                            height: 30px;
                            position: relative;
                            box-sizing: border-box;
                            appearance: none;
                            border: 1px solid transparent;
                            background-color: #ececec;
                            margin-right: 1px;

                            &.selected {
                                border: 1px solid black; 
                                background-color: #ffffff;
                            }

                            span {
                                position: absolute;
                                display: inline-block;
                                width: 4px;
                                height: 4px; 
                                background-color: black; 
                                pointer-events: none;
                            }

                            &[value="no-repeat"] {

                                span {
                                    top : 50%;
                                    left : 50%;
                                    transform: translateX(-50%) translateY(-50%);
                                }
                            }

                            &[value="repeat"] {
                                span:nth-child(1) { top : 5px; left : 5px; }
                                span:nth-child(2) { top : 5px; left : 20px; }
                                span:nth-child(3) { top : 20px; left : 5px; }
                                span:nth-child(4) { top : 20px; left : 20px; }
                            }

                            &[value="repeat-x"] {
                                span:nth-child(1) { top : 15px; left : 5px; transform: translateX(-50%) translateY(-50%); }
                                span:nth-child(2) { top : 15px; left : 14px; transform: translateX(-50%) translateY(-50%); }
                                span:nth-child(3) { top : 15px; left : 24px; transform: translateX(-50%) translateY(-50%); }
                            }

                            &[value="repeat-y"] {
                                span:nth-child(1) { top : 4px; left : 15px; transform: translateX(-50%) translateY(-50%);}
                                span:nth-child(2) { top : 14px; left : 15px; transform: translateX(-50%) translateY(-50%);}
                                span:nth-child(3) { top : 24px; left : 15px; transform: translateX(-50%) translateY(-50%);}
                            }

                            &[value="space"] {
                                span:nth-child(1) { top : 0px; left : 0px; width: 9px; height: 9px;}
                                span:nth-child(2) { top : 0px; left : 10px; width: 9px; height: 9px;}
                                span:nth-child(3) { top : 0px; left : 20px; width: 9px; height: 9px;}
                                span:nth-child(4) { top : 20px; left : 0px; width: 9px; height: 9px;}
                                span:nth-child(5) { top : 20px; left : 10px; width: 9px; height: 9px;}
                                span:nth-child(6) { top : 20px; left : 20px; width: 9px; height: 9px;}
                            }                            

                            &[value="round"] {
                                span:nth-child(1) { top : 0px; left : 0px; width: 9px; height: 8px;}
                                span:nth-child(2) { top : 0px; left : 10px; width: 9px; height: 8px;}
                                span:nth-child(3) { top : 0px; left : 20px; width: 9px; height: 8px;}
                                span:nth-child(4) { top : 10px; left : 0px; width: 9px; height: 8px;}
                                span:nth-child(5) { top : 10px; left : 10px; width: 9px; height: 8px;}
                                span:nth-child(6) { top : 10px; left : 20px; width: 9px; height: 8px;}                                
                                span:nth-child(7) { top : 20px; left : 0px; width: 9px; height: 8px;}
                                span:nth-child(8) { top : 20px; left : 10px; width: 9px; height: 8px;}
                                span:nth-child(9) { top : 20px; left : 20px; width: 9px; height: 8px;}
                            }                                                        
                        }
                    }
                }
            }

            &.image-list {
                background-color: transparent;
                position: absolute;
                bottom: auto;
                top: 0%;
                height: 20px;
                width: auto;
                display: inline-block;
                left: 50%;
                transform: translateX(-50%) translateY(-30px);
                .images {
                    top: auto;
                    left: auto;
                    right: auto;
                    bottom: auto;
                    overflow: auto;
                    position: relative;
                    height: 100%;
                    .image-tools {
                        display: inline-block;
                        position: relative;
                        top: auto;
                        left: auto;
                        right: auto;
                        bottom: auto;      
                        height: 100%;                  
                        .menu-buttons {
                            position: relative;
                            border: 0px;
                            display: inline-block;
                            vertical-align: middle;    
                            border-right: 1px solid $border-color;
                            height: 100%;
                            padding-right: 10px;
                            margin-right: 10px;
                            
                            .gradient-type {
                                padding: 0px;
                                .gradient-item {
                                    border:0px;
                                    width: 20px;
                                    height: 20px;
                                    border: 1px solid $border-color;
                                }
                            }
                        }

                        .image-list {                     
                            position: relative;
                            border:0px;
                            vertical-align: middle;
                            display: inline-block;

                            .tree-item {
                                width: 10px;
                                height: 10px;
                                border-radius: 10px;
                                border-color: #fff !important;

                                &.selected {
                                    border-width: 2px !important;
                                    border-color: #333 !important;
                                }

                                .item-tools {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}