$tab-header-height: 30px;
$tab-background-color: rgb(255, 255, 255);
$tab-border-color: #dedede;
$tab-selected-color: #dedede;
.tab {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;

    &.inner {
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;

        .tab-header {
            .tab-item {
                border:0px;
            }
        }

        .tab-body {
            border:0px;
        }
    }

    .tab-header {
        position: absolute;
        left: 0px;
        right: 0px;
        height: $tab-header-height;
        // top: 1px;
        // background-color: #ececec;

        display: block;
        z-index: 1;
        display: flex;

        .tab-item {
            flex:1;
            display: inline-block;
            font-size: 12px;
            text-align: left;
            height: 100%;
            box-sizing: border-box;
            padding: 6px 4px;
            cursor: pointer;
            color: black; 
            border: 1px solid $tab-border-color;
            min-width: 50px;

            &:not(.selected) {
                background-color: $tab-background-color; 
                color: black;
            }

            &.selected {
                background-color: $tab-selected-color;
                // border-bottom: 1px solid #ffffff;
            }
            
        }
    }

    .tab-body {
        position: absolute;
        left: 0px;
        right: 0px;
        top: $tab-header-height;
        bottom: 0px;
        box-sizing: border-box;
        border: 1px solid $tab-border-color;

        .tab-content {
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            display: none;
            overflow: auto; 

            &.selected {
                display: block;
            }
        }
    }

    &.bottom {
        > .tab-header {
            top: auto;
            bottom: 1px;

            .tab-item {
                &.selected {
                    border-top: 1px solid #ffffff;
                    border-bottom: 1px solid $tab-border-color;                    
                }
            }

        }

        > .tab-body {
            top: 0px;
            bottom: $tab-header-height;
        }
    }
}

.layer-menu-tab,
.page-menu-tab,
.image-menu-tab {
    > .tab-header{
        height: 40px;
        > .tab-item {
            border: 0px;
            border-right: 1px solid $border-color;
            text-align: center;
            vertical-align: middle;
            line-height: 1.2;
            padding: 10px 5px;
            font-size: 12px;
            &:last-child {
                border-right: 0px;
            }
        }
    }

    > .tab-body {
        top: 40px;
        border:0px;
        border-top: 1px solid $border-color;
    }
}