.vertical-colorstep {
    position: absolute;
    left: 50%;
    top: 10px;
    width: 400px;
    transform: translateX(-50%);
    display: inline-block;
    z-index: 100;
    padding-left: 20px;
    padding-right: 20px;


    .gradient-steps {
        position: relative;
        display: block;

        .hue-container {
            width: 100%;
            height: 14px;
            margin-top: 0px;
            left: 0px;
            right: 0px;
            position: absolute;
            border-radius: 14px;
            z-index: 0;
            box-sizing: border-box;
            cursor: copy;       
            @include transparent-background();             
        }

        .hue {
            position: relative;
            padding: 0px;
            margin: 0px;
            // border:1px solid #ececec;        
            box-sizing: border-box;
            border-radius: 14px;
            cursor: pointer;
            // overflow:hidden;
            // @include transparent-background();       
            pointer-events: none;      


            > .step-list {
                position: relative;
                width: 100%;
                cursor: copy;                        
                height: 14px;
                z-index: 1; 
                border-radius: 14px;

                &.mode-drag {
                    cursor: pointer;
                }
            }

            .drag-bar {
                box-sizing: border-box;
                transform: none;
                // overflow: hidden;
                border-radius: 50%;
                display: inline-block;
                left: 0px;
                top: 11px;
                transform: translateX(-50%);
                position: absolute;
                // background-color: rgba(white, 0.8);
                cursor: pointer;
                transition: top 0.3s ease-out;
                pointer-events: all;

                .guide-line {
                    // display: none;
                    pointer-events: none;
                    position: absolute;
                    width: 1px;
                    height: 0px;
                    box-sizing: border-box;
                    bottom: 8px;
                    left: 4px;
                    // transform: translateX(-1px);                    
                    transition: all 0.3s ease-out;
                }

                .guide-change {
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    box-sizing: border-box;
                    top: 50%;
                    left: -15px;
                    transform: translateY(-50%);
                    opacity: 0;                  
                    transition: all 0.3s ease-out;
                    // background-color: black;
                    border: 1px solid $border-color;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 0px;
                        bottom: 0px;
                        left: 3px;
                        right: 3px;
                        background-color: black; 
                    }

                    &.cut {
                        &:before {
                            content: "";
                            position: absolute;
                            top: 3px;
                            bottom: 3px;
                            left: 0px;
                            right: 0px;
                            background-color: black; 
                        }
                    }

                } 

                .guide-step {
                    background-color: transparent;
                    border: 2px solid white;
                    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.6);            
                    width: 10px;
                    height: 10px;                    
                    box-sizing: border-box;
                    transform: none;
                    // overflow: hidden;
                    border-radius: 50%;
                    display: inline-block;
                    // left: 50%;
                    top: 0px;
                    transform: translateX(-0.5px);
                    cursor: pointer;
                    transition: top 0.3s ease-out;
                    pointer-events: all;
                }      
                

                .guide-unit {
                    position: absolute;
                    width: 80px;
                    box-sizing: border-box;
                    top: 50%;
                    left: 15px;
                    transform: translateY(-50%);
                    // transform: translateX(50%) translateY(50%);
                    opacity: 0;                  
                    transition: all 0.3s ease-out;
                    // background-color: black;
                    // border: 1px solid $border-color;

                    > input[type=number] {
                        display:none;
                        outline: none;
                        flex: 3; 
                        width: 40px;
                        appearance: none;
                        border: 1px solid $border-color;
                        background-color: white;                        
                    }
                    &.percent > .percent { display: inline-block; }
                    &.px > .px { display: inline-block; }
                    &.em > .em { display: inline-block; }

                    select {
                        flex: 1; 
                        appearance: none;
                        border:0px;
                        background-color: transparent;
                        display: inline-block;
                        vertical-align: middle;
                        height:20px;
                        outline: none;
                    }
                }
                

                &.selected {
                    z-index:1;
                    top: 24px;
                    .guide-line {
                        height: 28px;
                    }       
                    
                    .guide-change, .guide-step, .guide-unit {
                        opacity: 1;
                    }
                }
            }                    
        }

        .current-percent {
            position: absolute;
            display: none;
            font-size: 12px;
            transform: translateX(-50%);
        }
    }

}