$pointer-color: rgba(#0f72cf, 0.8);
$direction-border: 2px solid $pointer-color;
$guide-border-hover-color: rgba(0 , 0, 0, 0.2);

.page-view {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    
    .page-menu { 
        position: absolute; 
        left: 0px;
        right: 0px;
        top: 0px;
        height: 160px;
        z-index: 5;

        .layer-preview {
            position:absolute;
            left: 0px;
            top: 0px;
            bottom: 0px;
            width: 160px;
            box-sizing: border-box;
            border: 1px solid #ececec;
        }

        .layer-menu-tab {
            position: absolute;
            right: 0px;
            top: 0px;
            bottom: 0px;
            left: 170px;
        }

        @import './images.scss';


    }

    .page-content {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 170px;
        overflow: auto;
        background-color: #ececec;
    }

    .gradient-color-view-container {
        position: absolute;
        top: 50px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        display: none;        
    }

    .gradient-color-view,
    .gradient-color-view-container {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: white;
        box-sizing: border-box;
    }

    .gradient-color-view {

        .layer {
            position: absolute; 
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            
        }
    }

    .dropzone {
        display: none;
    }

    .gradient-color-view-container {
        // @include transparent-background();
        box-shadow: 8px 9px 20px -5px #777;
    }


    .predefined-angluar-group {
        display: none;
        text-align: center;
        position: absolute;
        // pointer-events: none;
        bottom: 10px;
        width: 200px;
        height: 200px;
        right: 10px;
        background-color: rgba(0, 0, 0, 0.2);

        button {
            padding: 0px;
            margin: 1px;
            background-color: transparent;
            border: 0px;
            appearance: none;
            outline: none;
            cursor: pointer;
            padding-top: 5px;
            padding-bottom: 5px;
            position: absolute;
            display: inline-block;
            width: 20px;
            height: 20px;
            pointer-events: all;

            &:hover {
                border-color: $guide-border-hover-color; 

                &:after {
                    border-color: $guide-border-hover-color; 
                }
            }

            &:after {
                content: "";
                position: absolute;
                display: inline-block;
                width: 15px;
                height: 15px;                
            }

            /* linear */
            &[data-value='to top'] {
                top: 10px;
                left: 50%;
                transform: translateX(-50%);
                border-top: $direction-border;

                &:after {
                    border-top: $direction-border;
                    top: -8px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            &[data-value='to top right'] {
                top: 10px;
                right: 10px;
                border-top: $direction-border;
                border-right: $direction-border;

                &:after {
                    border-top: $direction-border;
                    border-right: $direction-border;
                    top: -8px;
                    right: -8px;
                }
            }

            &[data-value='to right'] {
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                border-right: $direction-border;

                &:after {
                    border-right: $direction-border;
                    top: 50%;
                    right: -8px;
                    transform: translateY(-50%);
                }
            }

            &[data-value='to bottom right'] {
                bottom: 10px;
                right: 10px;
                border-right: $direction-border;
                border-bottom: $direction-border;

                &:after {
                    border-bottom: $direction-border;
                    border-right: $direction-border;
                    bottom: -8px;
                    right: -8px;
                }                
            }

            &[data-value='to bottom'] {
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
                border-bottom: $direction-border;

                &:after {
                    border-bottom: $direction-border;
                    left: 50%;
                    bottom: -8px;
                    transform: translateX(-50%);
                }                
            }

            &[data-value='to bottom left'] {
                left: 10px;
                bottom: 10px;
                border-left: $direction-border;
                border-bottom: $direction-border;

                &:after {
                    border-bottom: $direction-border;
                    border-left: $direction-border;
                    bottom: -8px;
                    left: -8px;
                }                  
            }

            &[data-value='to left'] {
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
                border-left: $direction-border;

                &:after {
                    border-left: $direction-border;
                    top: 50%;
                    left: -8px;
                    transform: translateY(-50%);
                }                                
            }

            &[data-value='to top left'] {
                top: 10px;
                left: 10px;
                border-left: $direction-border;
                border-top: $direction-border;

                &:after {
                    border-top: $direction-border;
                    border-left: $direction-border;
                    top: -8px;
                    left: -8px;
                }                                
            }

            /* radial */ 
            &[data-value='top'] {
                top: 10px;
                left: 50%;
                transform: translateX(-50%);
                border-top: $direction-border;

                &:after {
                    border-top: $direction-border;
                    top: -8px;
                    left: 50%;
                    transform: translateX(-50%);
                }                
            }

            &[data-value='right'] {
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                border-right: $direction-border;


                &:after {
                    border-right: $direction-border;
                    top: 50%;
                    right: -8px;
                    transform: translateY(-50%);
                }                
            }

            &[data-value='bottom'] {
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
                border-bottom: $direction-border;

                &:after {
                    border-bottom: $direction-border;
                    left: 50%;
                    bottom: -8px;
                    transform: translateX(-50%);
                }                 
            }

            &[data-value='left'] {
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
                border-left: $direction-border;


                &:after {
                    border-left: $direction-border;
                    top: 50%;
                    left: -8px;
                    transform: translateY(-50%);
                }                              
            }
        }
    }

    $editor-line-color: #b3b3b3;
    $editor-resizer-width : 10px;
    $editor-half-width: -6px;    

    .predefined-page-resizer {
        display: none;
        text-align: center;
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 10;
        border:2px solid $editor-line-color;
        box-sizing: border-box;               

        button {
            padding: 0px;
            background-color: rgba(white, 1);
            border: 1px solid $editor-line-color;
            appearance: none;
            outline: none;
            cursor: pointer;
            position: absolute;
            display: inline-block;
            box-sizing: border-box;
            width: $editor-resizer-width;
            height: $editor-resizer-width;
            pointer-events: all;
            border-radius: 50%;

            &:hover {
                background-color: rgba(white, 0.5);
            }

            /* linear */
           /* linear */
           &[data-value='to top'] {
                top: $editor-half-width;
                left: 50%;
                transform: translateX(-50%);
                cursor: n-resize;
            }

            &[data-value='to top right'] {
                top: $editor-half-width;
                right: $editor-half-width;
                cursor: ne-resize;                
            }

            &[data-value='to right'] {
                top: 50%;
                right: $editor-half-width;
                transform: translateY(-50%);
                cursor: e-resize;                
            }

            &[data-value='to bottom right'] {
                bottom: $editor-half-width;
                right: $editor-half-width;
                cursor: se-resize;                
            }

            &[data-value='to bottom'] {
                bottom: $editor-half-width;
                left: 50%;
                transform: translateX(-50%);
                cursor: s-resize;                
            }

            &[data-value='to bottom left'] {
                left: $editor-half-width;
                bottom: $editor-half-width;
                cursor: sw-resize;                
            }

            &[data-value='to left'] {
                top: 50%;
                left: $editor-half-width;
                transform: translateY(-50%);
                cursor: w-resize;                
            }

            &[data-value='to top left'] {
                top: $editor-half-width;
                left: $editor-half-width;
                cursor: nw-resize;                
            }

        }
    }  

    $editor-line-color: #5f80de;


    .predefined-layer-resizer {
        display: none;
        text-align: center;
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 100;
        border:2px solid $editor-line-color;
        box-sizing: border-box;      
        
        .guide-horizontal {
            position: absolute;
            width: 1px; 
            left: 50%;
            transform: translateX(-50%);
            top: -10px;
            bottom: -10px;
            background-color: $editor-line-color; 
            display: none;
        }

        .guide-vertical {
            position: absolute;
            height: 1px; 
            top: 50%;
            transform: translateY(-50%);
            left: -10px;
            right: -10px;
            background-color: $editor-line-color; 
            display: none;            
        }        

        button {
            pointer-events: all;
            padding: 0px;
            background-color: rgba(white, 1);
            border: 1px solid $editor-line-color;
            appearance: none;
            outline: none;
            cursor: pointer;
            position: absolute;
            display: inline-block;
            box-sizing: border-box;
            width: $editor-resizer-width;
            height: $editor-resizer-width;
            border-radius: 50%;             

            /* linear */
            &[data-value='to top'] {
                top: $editor-half-width;
                left: 50%;
                transform: translateX(-50%);
                cursor: n-resize;
            }

            &[data-value='to top right'] {
                top: $editor-half-width;
                right: $editor-half-width;
                cursor: ne-resize;                
            }

            &[data-value='to right'] {
                top: 50%;
                right: $editor-half-width;
                transform: translateY(-50%);
                cursor: e-resize;                
            }

            &[data-value='to bottom right'] {
                bottom: $editor-half-width;
                right: $editor-half-width;
                cursor: se-resize;                
            }

            &[data-value='to bottom'] {
                bottom: $editor-half-width;
                left: 50%;
                transform: translateX(-50%);
                cursor: s-resize;                
            }

            &[data-value='to bottom left'] {
                left: $editor-half-width;
                bottom: $editor-half-width;
                cursor: sw-resize;                
            }

            &[data-value='to left'] {
                top: 50%;
                left: $editor-half-width;
                transform: translateY(-50%);
                cursor: w-resize;                
            }

            &[data-value='to top left'] {
                top: $editor-half-width;
                left: $editor-half-width;
                cursor: nw-resize;                
            }

            &[data-value='to move'] {
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                cursor: move;                
            }            

            &[data-value='layer rotate'] {
                width: 20px;
                height: 20px;
                left: 50%;
                top: -60px;
                transform: translateX(-50%);
                background-color: rgba(255, 255, 255, 0.5);
                box-sizing: border-box;
                border-radius: 50%;          

                &:before {
                    position: absolute;
                    content: "";
                    left: 50%;
                    top: 50%;
                    width: 10px;
                    height: 10px;
                    transform: translateX(-50%) translateY(-50%);
                    box-sizing: border-box;
                    border-radius: 50%;
                    border: 1px solid rgba(0, 0, 0, 0.8);
                    
                }
            }

            &[data-value='radius top left'], 
            &[data-value='radius top right'], 
            &[data-value='radius bottom left'], 
            &[data-value='radius bottom right'] {
                background-color: rgba(255, 255, 0, 0.637); 
                border: 1px solid rgb(131, 131, 26); 
                border-radius: 50%;
            }

            &[data-value='radius top left'] {
                top: $editor-half-width * 3; 
                left: $editor-half-width;
                transform: translateX(-50%);
            }
            &[data-value='radius top right'] {
                top: $editor-half-width * 4.5; 
                right: $editor-half-width;
                transform: translateX(50%);
            }

            &[data-value='radius bottom left'] {
                bottom: $editor-half-width * 3; 
                left: $editor-half-width;
                transform: translateX(-50%);                
            }
            &[data-value='radius bottom right'] {
                bottom: $editor-half-width * 4.5; 
                right: $editor-half-width;
                transform: translateX(50%);                
            }            


 
        }
    }      

}