$pointer-color: rgba(#0f72cf, 0.8);
$direction-border: 2px solid $pointer-color;
$guide-border-hover-color: rgba(0 , 0, 0, 0.2);

.page-view {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    
    .page-menu { 
        position: absolute; 
        left: 0px;
        right: 0px;
        top: 0px;
        height: 160px;
        z-index: 5;

        .layer-preview {
            position:absolute;
            left: 0px;
            top: 0px;
            bottom: 0px;
            width: 160px;
            box-sizing: border-box;
            border: 1px solid #ececec;
        }

        .layer-menu-tab {
            position: absolute;
            right: 0px;
            top: 0px;
            bottom: 0px;
            left: 170px;
        }

        @import './images.scss';


    }

    .page-content {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 170px;
        overflow: auto;
        background-color: #ececec;
        border: 1px solid #c9c9c9;
        box-sizing: border-box;        
    }

    .page-canvas {
        position: relative;
        padding: 300px;
        display: inline-block;
    }

    .gradient-color-view-container {
        position: relative;
        display: inline-block;
        background-color: white;
        box-shadow: 8px 9px 20px -5px #777;      
        
        &.moving {
            .predefined-layer-resizer {
                display: none !important;
            }
            .predefined-page-resizer {
                display: none !important;
            }       
            
            .move-guide {
                display: block !important;
            }
        }
    }

    .gradient-color-view {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: white;
        box-sizing: border-box;
    }

    .gradient-color-view {

        .layer {
            position: absolute; 
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            
        }
    }

    .dropzone {
        display: none;
    }

    @import './guide/angluar-group.scss';
    @import './guide/page-resizer.scss';
    @import './guide/layer-resizer.scss';
    @import './guide/move-guide.scss';

}