
/* codemirror colorpicker */

.codemirror-colorpicker {
	border : 1px solid #8e8e8e;
	display : inline-block;
	box-sizing : border-box;
	margin : 0px 2px;
	width : 10px;
	height : 10px;
	cursor: pointer;
}

.codemirror-colorpicker:hover {
	border-color: #494949;
}
