
    $editor-line-color: #5f80de;


    .predefined-layer-resizer {
        display: none;
        text-align: center;
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 100;
        // border:2px solid $editor-line-color;
        box-shadow: 0 0 0 1px $editor-line-color;
        box-sizing: border-box;      
        
        .guide-horizontal {
            position: absolute;
            width: 1px; 
            left: 50%;
            transform: translateX(-50%);
            top: -10px;
            bottom: -10px;
            background-color: $editor-line-color; 
            display: none;
        }

        .guide-vertical {
            position: absolute;
            height: 1px; 
            top: 50%;
            transform: translateY(-50%);
            left: -10px;
            right: -10px;
            background-color: $editor-line-color; 
            display: none;            
        }        

        button {
            pointer-events: all;
            padding: 0px;
            background-color: rgba(white, 1);
            border: 1px solid $editor-line-color;
            appearance: none;
            outline: none;
            cursor: pointer;
            position: absolute;
            display: inline-block;
            box-sizing: border-box;
            width: $editor-resizer-width;
            height: $editor-resizer-width;
            border-radius: 50%;     
            

            &.active {
                &:after {
                    position: absolute;
                    bottom: -20px;
                    display: inline-block;
                    content: attr(data-position);
                    transform: translateX(-50%);
                }
    
            }

            /* linear */
            &[data-value='to top'] {
                top: $editor-half-width;
                left: 50%;
                transform: translateX(-50%);
                cursor: n-resize;
            }

            &[data-value='to top right'] {
                top: $editor-half-width;
                right: $editor-half-width;
                cursor: ne-resize;                
            }

            &[data-value='to right'] {
                top: 50%;
                right: $editor-half-width;
                transform: translateY(-50%);
                cursor: e-resize;                
            }

            &[data-value='to bottom right'] {
                bottom: $editor-half-width;
                right: $editor-half-width;
                cursor: se-resize;                
            }

            &[data-value='to bottom'] {
                bottom: $editor-half-width;
                left: 50%;
                transform: translateX(-50%);
                cursor: s-resize;                
            }

            &[data-value='to bottom left'] {
                left: $editor-half-width;
                bottom: $editor-half-width;
                cursor: sw-resize;                
            }

            &[data-value='to left'] {
                top: 50%;
                left: $editor-half-width;
                transform: translateY(-50%);
                cursor: w-resize;                
            }

            &[data-value='to top left'] {
                top: $editor-half-width;
                left: $editor-half-width;
                cursor: nw-resize;                
            }

            &[data-value='to move'] {
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                cursor: move;                
            }            

            &[data-value='layer rotate'] {
                width: 20px;
                height: 20px;
                left: 50%;
                top: -60px;
                transform: translateX(-50%);
                background-color: rgba(255, 255, 255, 0.5);
                box-sizing: border-box;
                border-radius: 50%;          

                &:before {
                    position: absolute;
                    content: "";
                    left: 50%;
                    top: 50%;
                    width: 10px;
                    height: 10px;
                    transform: translateX(-50%) translateY(-50%);
                    box-sizing: border-box;
                    border-radius: 50%;
                    border: 1px solid rgba(0, 0, 0, 0.8);
                    
                }
            }

            &[data-value='radius'],  
            &[data-value='radius top left'], 
            &[data-value='radius top right'], 
            &[data-value='radius bottom left'], 
            &[data-value='radius bottom right'] {
                background-color: rgba(255, 255, 0, 0.637); 
                border: 1px solid rgb(131, 131, 26); 
                border-radius: 50%;
            }

            &[data-value='radius'],
            &[data-value='radius top left']
             {
                top: $editor-half-width * 3; 
                left: $editor-half-width;
                transform: translateX(-50%);
            }
            &[data-value='radius top right'] {
                top: $editor-half-width * 4.5; 
                right: $editor-half-width;
                transform: translateX(50%);
            }

            &[data-value='radius bottom left'] {
                bottom: $editor-half-width * 3; 
                left: $editor-half-width;
                transform: translateX(-50%);                
            }
            &[data-value='radius bottom right'] {
                bottom: $editor-half-width * 4.5; 
                right: $editor-half-width;
                transform: translateX(50%);                
            }            


 
        }
    }      
