$typetool-size: 34px;
&.gradient-tools {
    display:block;
    width: 100%;
    box-sizing: border-box;

    .menu-buttons {
        display: inline-block;
        vertical-align: middle;
        padding: 4px 0px;
        font-size: 12px;

        button {
            display: inline-block;
            appearance: none;
            width: 100px;
            height: 100%;
            box-sizing: border-box;
            border: 1px solid #dedede;
            vertical-align: middle;
            font-size: 12px;
            cursor: pointer;
            outline: none;
            position: relative;
            pointer-events: all;
        }
    }

    > .title {
        // display: inline-block;
        vertical-align: middle;
        padding: 10px 0px;
        font-size: 12px;
    }


    .gradient-angular {
        display: block;
        user-select: none;

        &.linear {
            .gradient-angular-item.linear { display: block; }
            .gradient-angular-item.radial { display: none; }
            .gradient-angular-item.image { display: none; }
        }

        &.radial {
            .gradient-angular-item.linear { display: none; }
            .gradient-angular-item.radial { display: block; }
            .gradient-angular-item.image { display: none; }
        }                    

        &.image {
            .gradient-angular-item.linear { display: none; }
            .gradient-angular-item.radial { display: none; }
            .gradient-angular-item.image { display: block; }
        }

        .gradient-angular-item {
            &.linear {

                .predefined-angluar-group  {
                    display: inline-block;
                    width: 142px;
                    text-align: center;
                }

            }

            &.radial {

                .inline-block {
                    position: relative;
                    display: inline-block;

                    select {
                        appearance: none;
                        display: inline-block;
                        box-sizing: border-box;
                        padding: 5px 5px;
                        border: 0px;
                        background-color: white;
                        width: 110px;
                        outline: none;
                        height: $typetool-size;
                        font-size: 15px;
                        height: 100%;
                    }
                }

                button {
                    padding: 0px;
                    margin:1px;
                    background-color: transparent;
                    border:0px;
                    appearance: none;
                    outline: none;
                    cursor: pointer;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    display:inline-block;
                    width: 8px;
                    height: 18px;
                    vertical-align: middle;

                    &[data-value='center'] { background-image: radial-gradient(circle, black, #FFFFFF 50%); }
                }
            }
        }

    }
}

.gradient-type {
    .gradient-item {
        margin-right: 3px;
    }
}