
&.sample-list {
    .gradient-sample-list {
        min-height: 50px;
        max-height: 200px;
        overflow: auto;
        box-sizing: border-box;
        text-align: left;
        display: inline-block;
    
        .gradient-sample-item {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            cursor: pointer;
            position: relative;
            margin: 3px;

            &:hover {
                transform: scale(1.2);
            }
        }

    }
}