&.gradient-steps {
    $pointer-color: rgba(#ececec, 0.8);
    height: 30px;

    .gradient-steps {
        position: relative;
        display: block;

        .hue-container {
            width: 100%;
            height: 16px;
            margin-top: -1px;
            left: -1px;
            right: -1px;
            position: absolute;
            z-index: 0;
            // border: 1px solid #ececec;
            box-sizing: border-box;
        }

        .hue {
            position: relative;
            padding: 0px;
            margin: 0px;
            // border:1px solid #ececec;        
            box-sizing: border-box;
            cursor: pointer;
            // overflow:hidden;
            @include transparent-background(); 


            > .step-list {
                position: relative;
                width: 100%;
                cursor: copy;                        
                height: 14px;
                z-index: 1; 

                &.mode-drag {
                    cursor: pointer;
                }
            }

            .drag-bar {
                border:0px;
                background-color: transparent;
                border: 2px solid white;
                box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.6);            
                width: 10px;
                height: 10px;                    
                box-sizing: border-box;
                transform: none;
                // overflow: hidden;
                border-radius: 50%;
                display: inline-block;
                left: 0px;
                top: 17px;
                transform: translateX(-50%);
                position: absolute;
                background-color: rgba(white, 0.8);
                cursor: pointer;
                z-index: 0;

                &.selected {
                    z-index:1;
                    &:after {
                        display: none;
                        content: "";
                        position: absolute;
                        width: 1px;
                        height: 17px;
                        background-color: rgba(0, 0, 0, 0.3);
                        box-sizing: border-box;
                        bottom: 8px;
                        left: 50%;
                        transform: translateX(-50%);
                    }                
                }
            }                    
        }
    }

    .gradient-list-layout {
        position: absolute;
        top: 50px !important;
        left: 0px;
        right: 0px;
        bottom: 0px; 
    }


    .gradient-sample-list {


    }


    .color-list {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;

        .color-type {
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            height: 40px;

            > div {
                position: absolute;
                left: 5px;
                right: 5px;
                bottom: 5px;
                top: 5px;

                select {
                    appearance: none;
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    top: 0px;
                    padding: 5px;                 
                    display: inline-block;
                    border:0px;
                    background-color: white;
                    width: 100%;
                    outline: none;
                }
            }
        }

        .color-sample-list {
            position: absolute;
            left: 0px;
            right: 0px;
            top: 45px;
            bottom: 0px;
            padding: 5px;
            
            .color-item {
                display: inline-block;
                vertical-align: middle;
                width: 34px;
                height: 34px;
                cursor: pointer;
                position: relative;
                margin: 2px;
            }
        }
    }

}