&.gradient-steps-info {
    

    .gradient-info {
        // background-color:#ececec;
        overflow: auto;

        .form-item {
            font-size: 12px;
            box-sizing: border-box;
            margin: 2px 0px;
            width: 100%;

            .step-list {
                width: 100%;
            }

            .color-step {
                display: flex;
                padding: 1px;
                color: #333; 

                &.selected {
                    // background-color: #ececec;

                    .color-view {
                        border:0px;
                    }

                    .color-percent {
                        color: rgba(#ececec, 0.5);
                    }

                    .tools {
                        button {
                            color: rgba(#ececec, 0.5);
                        }
                    }
                }

                > * {
                    flex: 1 1 auto; 
                    display:inline-block; 
                    vertical-align: middle;
                }

                input {
                    width: 40px;
                    display: inline-block;
                }

                .tools {
                    text-align: right;
                    button {
                        appearance: none;
                        transform: scale(1.2);
                        border:0px;
                        background-color: transparent;
                        padding: 2px 2px;
                        font-size: 14px;
                        vertical-align: middle;
                        line-height: 0;
                    }
                }

                input[type=text] {
                    width: 100px;
                }

                input[type=number] {
                    appearance: none;
                    border: 1px solid #ececec;
                }

                .color-view {
                    width: 20px;
                    flex: none;
                    height: 20px;
                    box-sizing: border-box;
                    position: relative;
                    @include transparent-background();
                    border: 1px solid #ececec;

                    .color-view-item {
                        position: absolute; 
                        left: 0px;
                        right: 0px;
                        bottom: 0px;
                        top: 0px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

}