> .color-chooser {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display:none;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s linear;  

    &.open {
        top: 0px;
    }

    > .colorsets-list {
        position: absolute;
        top: 120px;
        left:0px;
        right:0px;
        bottom:0px;
        background-color: white; 

    }
}